body {
    font-family: 'Arial', sans-serif;
    background-color: #de9d9d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(187, 33, 33, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #f56363;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: #555;
    align-items: center; /* Ensures labels and inputs align vertically */
    gap: 10px; /* Space between label and input */
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    flex-grow: 1; /* Makes the input take available space */
    transition: border-color 0.2s;
   
}

input:focus {
    border-color: #6200ea;
}

button {
    background-color: #543284;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

button:hover {
    background-color: #3700b3;
}
